.GroupSearch .content{margin:0}
.GroupSearch .input{width:100%!important;}
.GroupSearch .results{
    width:25em!important;
    display: flex;
    align-items: center!important;

    height:300px !important;
    overflow-y: scroll !important;
}
.GroupSearch .image{float: left !important;}
.GroupSearch .image img{border-radius: 100%;}
.GroupSearch .title,
.GroupSearch .description{font-size: 1.2em !important;}


.GroupTodoSearch .content{margin:0}
.GroupTodoSearch .input{width:100%!important;}
.GroupTodoSearch .result{display: flex !important; align-items: center !important;}
.GroupTodoSearch .title{font-size: 1.2em !important;}
.GroupTodoSearch .results{
    height:300px !important;
    overflow-y: scroll !important;
}