.ProfileTodoCard__image {
  height: 180px;
  overflow: hidden;
}

.todo__item_2 {
  opacity: 1;
  display: block;
  z-index: 100;
  /* 속도 */
  transition: 0.5s;
  cursor: pointer;
}

.todo__subitem_2 {
  position: absolute;
  margin: 1em;
  right: 0;
  z-index: 10;
  /* 투명도 */
  opacity: 1;
  /* 속도 */
  transition: 0.5s;
}

.todo__groupAt {
  position: absolute;
  margin: 1em;
  left: 0;
  z-index: 10;
  /* 투명도 */
  opacity: 1;
  /* 속도 */
  transition: 0.5s;
}

/* 마우스 위치시 투명도를 조절하여 보이도록함! */
.todo:hover > .todo__item_2 {
  opacity: 0.75;
}

/* .todo:hover > .todo__subitem_2 {
  opacity: 1;
} */
