.search .content{margin:0}
.search .input{width:25em!important;}
.search .results{
    width:25em!important;
    height:300px !important;
    overflow-y: scroll !important;
}
.search .result{display: flex!important; align-items: center;}
.search .image{
    float: left !important;
    width: 40px!important; 
    height: 40px!important; 
    margin-right: 1rem!important;
    object-fit: cover;
}
.search .image img{border-radius: 100%; width: 100%!important;}
.search .title,
.search .description{font-size: 1.2em !important;}